/* Chrome, Safari, Edge, Opera, Samsung Internet, etc. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;                    /* very important – removes ghost spacing */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;     /* turns it into a normal text field */
}

input.error,
textarea.error {
  border: 1px solid red !important;
}

body {
  text-align: center;
}

table {
  margin: 1em auto;
}

table.summary tbody th {
  text-align: right;
}
table.summary tbody td {
  text-align: left;
}

table.excel {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

table.excel thead,
table.excel tbody,
table.excel tfoot,
table.excel tr,
table.excel th,
table.excel td {
    margin: 0;
    padding: 0;
}

table.excel tr {
  height: 0;
}

table.excel td {
    border: 1px solid #ccc;
    height: 1px; /* trick to make inputs span all the space */
}

table.excel th {
  font-size: 10px;
  padding: 3px;
}

table.excel input,
table.excel textarea {
    display: block;
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 5px;
    outline: none;
    border: 0;
    width: 100%;
}
table.excel button {
    width: 100%;
}
table.excel input[type=number] {
  text-align: right;
}
table.excel textarea {
    text-align: left;
    max-height: 120px;
    overflow-y: auto;
    resize: none;
    field-sizing: content;
}
table.excel td {
  vertical-align: top;
}
table.excel td,
table.excel td.short {
    max-width: 50px;
}
table.excel td.mid {
    min-width: 100px;
}
table.excel td.long {
    min-width: 150px;
}
table.excel td.longer {
    min-width: 300px;
}
