body {
  font: 22px/30px sans-serif;
  text-align: center;
}

table {
    margin: auto;
}

hr {
  max-width: 500px;
  margin: 25px auto;
}

table.listing thead th {
    font-size: 10px;
}
table.listing tbody th {
    text-align: right;
}
table.listing tbody th,
table.listing tbody td {
    padding: 0 10px;
}
